@use 'style';

html {
  height: -webkit-fill-available;
}

body {
  // height: 100vh;
  // min-height: 100vh;
  // min-height: -webkit-fill-available;

  cursor: default;
  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  > * {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  max-width: 100%;
}

::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
}

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  letter-spacing: 0.03125rem;
}

input,
textarea,
button {
  outline: 0;
  outline-style: none;
  -moz-outline-style: none;
}

::-moz-selection {
  color: var(--c-text-inverse);
  background: var(--c-bg-inverse);
}

::selection {
  color: var(--c-text-inverse);
  background: var(--c-bg-inverse);
}

/* local */

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.view {
  height: 100vh;
  animation: fade 0.25s ease-out;
}

.action {
  cursor: pointer;
}

/* dark mode */

body[data-theme-mode='dark'] {
  input:-webkit-autofill {
    box-shadow: none;
    -webkit-box-shadow: 0 0 0 100px #434356 inset;
  }
}

/* scrollbar */

@media not screen and (-webkit-min-device-pixel-ratio: 2),
  not screen and (min--moz-device-pixel-ratio: 2),
  not screen and (-o-min-device-pixel-ratio: 2/1),
  not screen and (min-device-pixel-ratio: 2),
  not screen and (min-resolution: 192dpi),
  not screen and (min-resolution: 2dppx) {
  /* firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--c-scrollbar) var(--c-bg);
  }

  /* chrome, edge, and safari */

  ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;

    &-thumb {
      border-radius: 0.25rem;
      background: var(--c-scrollbar);

      &:hover {
        background: var(--c-scrollbar-hover);
      }
    }
  }
}
