.toast {
  $self: &;

  cursor: pointer;
  color: white;
  font-size: 0.875rem;
  letter-spacing: 0.03125rem;
  line-height: 1.25;
  padding: 1rem;
  border-radius: var(--s-border-radius);

  &--warning {
    background-color: var(--chakra-colors-orange-500);
  }

  &--success {
    background-color: var(--chakra-colors-green-500);
  }

  &--error {
    background-color: var(--chakra-colors-red-500);
  }

  &--info {
    background-color: var(--chakra-colors-blue-500);
  }
}
